<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel-2/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel-2/owl.theme.default.min.css') }}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- End layout styles -->
        
        <style>
            .btn-custom {
                font-size: 30px;
                padding: 20px 40px;
            }

            /* 彈跳視窗 */
            .modal {
                text-align: center;
            }

            [v-cloak] {
                display: none;
            }

            /* 覆蓋 Bootstrap 的背景色 */
            .sortable-chosen td {
                background-color: #cce5ff !important;
                transition: background-color 0.2s ease;
            }

            .sortable-ghost td {
                background-color: #d6f5f5 !important;
                opacity: 0.6;
            }

            .sortable-drag td {
                background-color: #007bff !important;
                color: white !important;
                transform: scale(1.02);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
            }

            .drag-handle {
                cursor: grab;
                font-size: 18px;
            }

            tr {
                transition: all 0.2s ease-in-out;
            }

            .nav-tabs .nav-link.active {
                color: #000000 !important;
            }

            /* Flatpickr 月份選擇區塊 */
            /* 月份標題列（左邊年/月）背景 */
            .flatpickr-months {
                background-color: white !important;
            }

            /* 當前顯示的月份文字區塊（例如 Apr 2025） */
            .flatpickr-current-month {
                background-color: white !important;
                color: black !important;
            }

            /* 月份下拉選單 */
            .flatpickr-current-month .flatpickr-monthDropdown-months {
                background-color: white !important;
                color: black !important;
                border: 1px solid #ccc !important;
            }

            /* 月份下拉選單內選項 */
            .flatpickr-current-month .flatpickr-monthDropdown-months option {
                background-color: white !important;
                color: black !important;
            }

        </style>

    </head>
    <body>
        <div class="container-scroller" id="app" v-cloak>
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/flask/index">
                            <span class="menu-icon">
                                <i class="mdi mdi-clipboard-check"></i>
                            </span>
                            <span class="menu-title">首頁</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/flask/mission">
                            <span class="menu-icon">
                                <i class="mdi mdi-target"></i>
                            </span>
                            <span class="menu-title">任務派發</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/flask/user">
                            <span class="menu-icon">
                                <i class="mdi mdi-account"></i>
                            </span>
                            <span class="menu-title">使用者管理</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/flask/history">
                            <span class="menu-icon">
                                <i class="mdi mdi-format-list-bulleted"></i>
                            </span>
                            <span class="menu-title">任務歷史紀錄查詢</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/docs#" target="_blank">
                            <span class="menu-icon">
                                <i class="mdi mdi-codepen"></i>
                            </span>
                            <span class="menu-title">API管理</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">                            
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">                    
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <p class="mb-0 ml-3 mr-3 d-flex align-items-center">Token 剩餘時間：[[ timeLeft ]]</p>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                                <div class="navbar-profile">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">[[ logged_in_as ]]</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0" style="background-color: white;">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-cog text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1" @click="logout">Log out</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">   
                                    <!-- Bootstrap Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">提示</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" v-text="message"></div>
                                            </div>
                                        </div>
                                    </div>

                                    {% block content %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/jquery.cookie.js') }}" type="text/javascript"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{{ url_for('static', filename='vendors/js/off-canvas.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/misc.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/settings.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/todolist.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/dashboard.js') }}"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->        
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        <script src="{{ url_for('static', filename='node_modules/axios/dist/axios.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
        <!-- Flatpickr JS -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        
        <!-- End custom js for this page -->
        <script type="module">
            const { createApp, ref, onMounted, onUnmounted, computed, watchEffect } = Vue;
            const gettoken = localStorage.getItem('token');

            const account = null; // 綁定輸入值
            const name = null; // 綁定輸入值
            const password = null; // 綁定輸入值
            
            const modalElement = document.getElementById('exampleModal');
            const createModalElement = document.getElementById('createModal');
            const updateModalElement = document.getElementById('updateModal');

            let myModal = null;
            let createModal = null;
            let updateModal = null;
            let intervalId = null; // 用來儲存 setInterval ID，以便停止請求

            const app = createApp({
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        // token 倒數剩餘秒數
                        timeLeft: 0,

                        logged_in_as: localStorage.getItem('logged_in_as'),

                        selectedUser: { id: null, account: "", name: "" },
                        
                        // index.html 用以存 getdata 回傳的資料
                        values: [],
                        message: '',                      

                        // mission.html 用以存 postdata 回傳的結果
                        postResult: null,

                        // index.html
                        tabs: ['全部', '進行中', '已完成', '待分配'],
                        currentTab: '全部',
                        sortableEl: null,
                        statusPriority: {
                            '進行中': 1,
                            '已完成': 2,
                            '待分配': 3
                        },

                        // user.html
                        usernameExists: false,
                        filters: {
                            account: '',
                            name: '',
                        },
                        currentPage: 1,
                        pageSize: 5,                        

                        // mission_history.html
                        historyFilters: {
                            missionId: '',
                            missionName: '',
                            robot: '',
                            missionStatus: '',
                            startTime: '',
                            finishTime: ''
                        },
                        datePickerInstance: null,
                        startPickerInstance: null,
                        finishPickerInstance: null,

                    }
                },
                computed: {
                    // 計算剩餘時間，格式化顯示，例如 "15 分 23 秒"
                    timeLeftDisplay() {
                        if (this.timeLeft <= 0) {
                            return '已過期';
                        }
                        const minutes = Math.floor(this.timeLeft / 60);
                        const seconds = this.timeLeft % 60;
                        return minutes + ' 分 ' + seconds + ' 秒';
                    },
                    sortedMissions() {
                        if (!this.values || !Array.isArray(this.values)) return [];
                        return [...this.values].sort((a, b) => {
                            return this.statusPriority[a.status] - this.statusPriority[b.status]
                        })
                    },
                    filteredMissions() {
                        if (this.currentTab === '全部') return this.sortedMissions
                        return this.sortedMissions.filter(m => m.status === this.currentTab)
                    },
                    canSubmit() {
                        return this.selectedUser.account && this.selectedUser.name && this.selectedUser.password && !this.usernameExists
                    },
                    
                    filteredUsers() {
                        return this.values.filter(m => {
                            const accountMatch = m.account.toLowerCase().includes(this.filters.account.toLowerCase());
                            const nameMatch = this.filters.name ? m.name === this.filters.name : true;
                            return accountMatch && nameMatch;
                        });
                    },
                    paginatedUsers() {
                        const start = (this.currentPage - 1) * this.pageSize;
                        return this.filteredUsers.slice(start, start + this.pageSize);
                    },
                    totalPages() {
                        return Math.ceil(this.filteredUsers.length / this.pageSize);
                    },

                    filteredHistorys() {
                        return this.values.filter(m => {
                            const missionIdMatch = m.missionId.toLowerCase().includes(this.historyFilters.missionId.toLowerCase());
                            const missionNameMatch = this.historyFilters.missionName ? m.missionName === this.historyFilters.missionName : true;
                            const robotMatch = this.historyFilters.robot ? m.robot === this.historyFilters.robot : true;
                            const missionStatus = this.historyFilters.missionStatus ? m.missionStatus === this.historyFilters.missionStatus : true; 
                            const startTimeMatch = this.historyFilters.startTime ? m.startTime.includes(this.historyFilters.startTime): true;
                            const finishTimeMatch = this.historyFilters.finishTime ? m.finishTime.includes(this.historyFilters.finishTime): true;
                            return missionIdMatch && missionNameMatch && robotMatch && missionStatus && startTimeMatch && finishTimeMatch;
                        });
                    },
                    paginatedMissions() {
                        const start = (this.currentPage - 1) * this.pageSize;
                        return this.filteredHistorys.slice(start, start + this.pageSize);
                    },
                    historyTotalPages() {
                        return Math.ceil(this.filteredHistorys.length / this.pageSize);
                    },
                    uniqueRobots() {
                        const robots = this.values.map(m => m.robot);
                        return [...new Set(robots)];
                    },
                    uniqueStatuses() {
                        const statuses = this.values.map(m => m.missionStatus);
                        return [...new Set(statuses)];
                    },


                },
                methods: {
                    logout() {
                        // 清除本地端儲存的 token
                        localStorage.removeItem('token');
                        // 跳轉到登錄頁面
                        window.location.href = '/flask/logout';
                    },
                    
                    updateTimeLeft() {
                        if (!gettoken) {
                            this.timeLeft = '未登入';
                            return;
                        }
        
                        try {
                            const decoded = jwt_decode(gettoken);
                            const now = Math.floor(Date.now() / 1000); // 目前秒數
                            const exp = decoded.exp; // 過期時間（秒）
                            const remaining = exp - now;
        
                            if (remaining <= 0) {
                                this.timeLeft = '已過期';
                                this.logout();
                            } else {
                                const minutes = Math.floor(remaining / 60);
                                const seconds = remaining % 60;
                                this.timeLeft = `${minutes} 分 ${seconds} 秒`;
                            }
                        } catch (e) {
                            console.error('Toekn 解析錯誤: ', e)
                            this.timeLeft = 'Token 解析錯誤';
                        }
                    },                    

                    // 共用 GET 方法，傳入 URL
                    async checkData(url, payload) {
                        try {
                            const response = await axios.post(url, payload, {
                                headers: {
                                    Authorization: `Bearer ${gettoken}`
                                }
                            });
                            
                            if (response.data.message.includes('已存在')) {
                                this.usernameExists = true;
                                this.selectedUser.account = ""
                            } else {
                                this.usernameExists = false;
                            }

                        } catch (err) {
                            if (err.response && err.response.status === 401) {
                                alert("登入已過期，請重新登入");
                                window.location.href = "/flask/login";
                            }
                            this.message = '無法獲取資料：' + err.message;
                        }
                    },

                    async getData(url) {
                        try {
                            const response = await axios.get(url, {
                                headers: {
                                    Authorization: `Bearer ${gettoken}`
                                }
                            });
                            this.values = response.data; // 儲存 API 回傳的資料
                        } catch (err) {
                            if (err.response && err.response.status === 401) {
                                alert("登入已過期，請重新登入");
                                window.location.href = "/flask/login";
                            }
                            this.message = '無法獲取資料：' + err.message;
                        }
                    },

                    async delData(url, delitem) {
                        try {
                            const response = await axios.delete(url, {
                                headers: {
                                    Authorization: `Bearer ${gettoken}`
                                }
                            });
                            this.message = "請求成功：" + JSON.stringify(response.data.message);

                            // 刪除成功後，移除該項
                            if (url.includes('missions')) {
                                const index = this.values.findIndex(m => m.id === delitem);
                                if (index !== -1) {
                                    this.values.splice(index, 1);  // 移除該項
                                }
                            }
                            if (url.includes('users')) {
                                const index = this.values.findIndex(m => m.account === delitem);
                                if (index !== -1) {
                                    this.values.splice(index, 1);  // 移除該項
                                }
                            }

                            myModal.show();

                            // 延遲關閉
                            setTimeout(() => {
                                myModal.hide(); // 關閉 Modal
                            }, 1500);

                        } catch (error) {
                            console.error('刪除資料失敗: ', error);
                            this.message = "請求失敗：" + error.message;
                        }
                    },
                    
                    async sendData(url, payload) {
                        try {
                            const response = await axios.post(url, payload, {
                                headers: {
                                    Authorization: `Bearer ${gettoken}`
                                }
                            });
                            
                            this.message = response.data.message;
                            if (createModalElement) {
                                createModal.hide();
                                
                            }

                            myModal.show();

                            // 延遲關閉
                            setTimeout(() => {
                                myModal.hide(); // 關閉 Modal
                            }, 1500);

                        } catch (error) {
                            console.error('發送資料失敗: ', error);
                            this.message = error.message;                            
                        }
                    },
                
                    async updateData(url, payload) {
                        try {
                            const response = await axios.put(url, payload, {
                                headers: {
                                    Authorization: `Bearer ${gettoken}`
                                }
                            });
                            this.message = JSON.stringify(response.data.message);
                            if (updateModalElement) {
                                updateModal.hide();
                            }

                            myModal.show();

                            // 延遲關閉
                            setTimeout(() => {
                                myModal.hide(); // 關閉 Modal
                            }, 1500);

                        } catch (error) {
                            console.error('更新資料失敗: ', error);
                            this.message = error.message;
                        }                        
                    },
                    
                    async editData(filterdata) {
                        try {
                            const user = this.values.find(u => u.account === filterdata);
                            if (user) {
                                this.selectedUser = { ...user }; // 複製資料，避免影響原始數據
                            }
                        } catch (error) {
                            console.error('篩選資料失敗: ', error);
                            this.message = error.message;
                        }
                    },                
                    
                    async save(sortedMissions) {
                        const order = this.sortedMissions
                            .filter(m => m.status === '待分配')
                            .map(m => m.id)
                        try {
                            this.updateData('/api/missions', {data: this.sortedMissions})
                        } catch (err) {
                            console.error(err)
                        }
                    },
                
                    async clearForm() {
                        this.selectedUser.account = '';
                        this.selectedUser.name = '';
                        this.selectedUser.password = '';
                    },

                    // 改成可以選擇打開哪一個 datepicker
                    async openDatePicker(which) {
                        let inst = which === 'start'
                            ? this.startPickerInstance
                            : this.finishPickerInstance;
                        if (inst && typeof inst.open === 'function') {
                            inst.open();
                        } else {
                            console.error('找不到對應的日期選擇器實例:', which, inst);
                        }
                    }
                },
                mounted() {
                    this.updateTimeLeft();
                    // 每秒更新倒數計時
                    setInterval(this.updateTimeLeft, 1000);

                    // modal
                    const modalElement = document.getElementById('exampleModal');
                    if (modalElement) {
                        myModal = new bootstrap.Modal(modalElement, {
                            backdrop: 'static', // 禁止點擊背景關閉
                            keyboard: false, // 禁止按 Esc 關閉
                            focus: false // 禁止自動 focus
                        });
                        // 在 Modal hide 時，自動把目前 focus 的元素 blur
                        modalElement.addEventListener('hide.bs.modal', () => {
                            if (document.activeElement instanceof HTMLElement) {
                            document.activeElement.blur();
                            }
                        });
                    }
                    
                    // createModal
                    const createModalElement = document.getElementById('createModal');
                    if (createModalElement) {
                        createModal = new bootstrap.Modal(createModalElement, {
                            backdrop: 'static', // 禁止點擊背景關閉
                            keyboard: false, // 禁止按 Esc 關閉
                            focus: false // 禁止自動 focus
                        });
                        // 在 Modal hide 時，自動把目前 focus 的元素 blur
                        createModalElement.addEventListener('hide.bs.modal', () => {
                            if (document.activeElement instanceof HTMLElement) {
                            document.activeElement.blur();
                            }
                        });
                    }                    

                    // updateModal
                    const updateModalElement = document.getElementById('updateModal');
                    if (updateModalElement) {
                        updateModal = new bootstrap.Modal(updateModalElement, {
                            backdrop: 'static', // 禁止點擊背景關閉
                            keyboard: false, // 禁止按 Esc 關閉
                            focus: false // 禁止自動 focus
                        });
                        // 在 Modal hide 時，自動把目前 focus 的元素 blur
                        updateModalElement.addEventListener('hide.bs.modal', () => {
                            if (document.activeElement instanceof HTMLElement) {
                            document.activeElement.blur();
                            }
                        });
                    }
                    
                },
                unmounted() {
                    if (intervalId) {
                        clearInterval(intervalId); // 停止定時請求
                    }
                },
                watch: {
                    filters: {
                        deep: true,
                        handler() {
                            this.currentPage = 1;
                        }
                    },
                    pageSize(newSize) {
                        this.currentPage = 1;
                    },
                    // sortdata 拖曳排序
                    currentTab: {
                        immediate: true,
                        handler(newVal) {
                            if (newVal === '待分配') {
                                this.$nextTick(() => {
                                    Sortable.create(this.$refs.sortableEl, {
                                        animation: 200,
                                        handle: '.drag-handle',
                                        ghostClass: 'sortable-ghost',
                                        chosenClass: 'sortable-chosen',
                                        dragClass: 'sortable-drag',
                                        onEnd: (evt) => {
                                            const movedItem = this.filteredMissions[evt.oldIndex];
                                            if (!movedItem || movedItem.status !== '待分配') return;

                                            const oldIndex = this.values.findIndex(m => m.id === movedItem.id);
                                            const newItem = this.filteredMissions[evt.newIndex];
                                            const newIndex = this.values.findIndex(m => m.id === newItem.id);

                                            this.values.splice(oldIndex, 1);
                                            this.values.splice(newIndex, 0, movedItem);
                                            this.save();
                                        }
                                    });
                                });
                            }
                        }
                    },

                    // 當 values 有長度時，代表那段 <tr> 以及兩個 input 都已經渲染
                    values(newVals) {
                        if (newVals.length > 0) {
                            this.$nextTick(() => {
                                // 1. startTimePicker
                                const startEl = document.getElementById('startTimePicker');
                                if (startEl && !this.startPickerInstance) {
                                    this.startPickerInstance = flatpickr(startEl, {
                                        dateFormat: "Y-m-d",
                                        allowInput: true,
                                        clickOpens: false
                                    });
                                }
                                // 2. finishTimePicker
                                const finishEl = document.getElementById('finishTimePicker');
                                if (finishEl && !this.finishPickerInstance) {
                                    this.finishPickerInstance = flatpickr(finishEl, {
                                        dateFormat: "Y-m-d",
                                        allowInput: true,
                                        clickOpens: false
                                    });
                                }
                            });
                        }
                    }
                    
                },

            });

            // 將 Vue 實例設為全域變數供子模板呼叫
            window.vueApp = app.mount('#app');

        </script>

        {% block js %}
        {% endblock %}

    </body>
</html>