{% extends "base.html" %}
{% block content %}

<!-- Tabs -->
<ul class="nav nav-tabs mb-3">
    <li class="nav-item" v-for="tab in tabs" :key="tab">
        <a class="nav-link" :class="{ active: currentTab === tab }"
            href="#" @click.prevent="currentTab = tab">[[ tab ]]</a>
    </li>
</ul>

<p v-if="currentTab === '待分配'">拖曳「☰」圖示可移動任務列</p>

<div class="table-responsive">
    <table class="table" style="font-size:50px">
        <thead>
            <tr>
                <th v-if="currentTab === '待分配'" style="width: 40px;"></th> <!-- 拖曳欄 -->
                <th>任務編號</th>
                <th>任務名稱</th>
                <th>車子編號</th>
                <th>任務狀態</th>
                <th>調整順序</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody ref="sortableEl">
            <tr v-if="filteredMissions.length === 0">
                <td colspan="5">尚無資料</td>
            </tr>
              <!-- 如果有資料則使用 v-for 進行遍歷 -->
            <tr v-for="(mission, index) in filteredMissions" :key="mission.id">
                <td v-if="currentTab === '待分配'" class="drag-handle">
                    <span>☰</span>
                </td>
                <td>[[ mission.id ]]</td>
                <td>[[ mission.name ]]</td>
                <td>[[ mission.robot ]]</td>
                <td>[[ mission.status ]]</td>
                <td></td>
                <td v-if="mission.status === '待分配'"><button type="button" class="btn btn-danger" @click="deldataFromAPI(mission.id)">刪除</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">提示</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">刪除任務成功</div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="module">

    window.vueApp.getdataFromAPI = function() {
        const url = '/api/missions'; // ✅ API 路徑
        this.getdata(url);
    };

    window.vueApp.getdataFromAPI();

    // 每秒自動執行 getdata
    setInterval(() => {
        // 確保使用 Vue app 的上下文
        window.vueApp.getdataFromAPI();
    }, 1000);

    window.vueApp.deldataFromAPI = function(missionid) {
        const url = `/api/missions/${missionid}`; // ✅ API 路徑
        window.vueApp.deldata(url);
    };

</script>
{% endblock %}
