{% extends "base.html" %}
{% block content %}

<button type="button" class="btn btn-primary btn-custom m-5" @click="senddataFromAPI('移動')">任務1</button>
<button type="button" class="btn btn-primary btn-custom m-5" @click="senddataFromAPI('停靠')">任務2</button>

{% endblock %}

{% block js %}
<script type="module">
    
    window.vueApp.senddataFromAPI = function(missionName) {
        const url = `/missions/${missionName}`; // ✅ API 路徑
        window.vueApp.senddata(url, '');
    };
    
</script>
{% endblock %}